/*--Identical conent to master.css--*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
}

.container {
  margin: auto;
  max-width: 1280px;
}

main {
  margin: 0em 4.5em;
}

/* Start of typography sizes */

h1 {
  font-family: 'work sans', sans-serif;
  font-size: 4em;
  font-weight: 600;
  font-kerning: auto;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
  color: #333333;
}

h2 {
  font-family: 'work sans', sans-serif;
  font-size: 2.8125em;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
}

h3 {
  font-family: 'spectral', serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h4 {
   font-family: 'spectral', serif;
  font-size: 1.4375em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}


h5 {
  font-family: 'work sans', sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}

p {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

/* End of typography sizes */

.section-title {
  margin: auto;
  margin-top: 3em;
  text-align: center;
}

.page-separator {
  margin: auto;
  width: 5em;
  height: 1px;
  background-color: #DA9218;
  margin-top: 2em;  /*Controls distance to section-title*/
}


/*--Identical conent to master.css--*/

.hero-content {
  margin-top: 4.5em;
  background-color: #FAFAFA;
}
