*, *:before, *:after {
  box-sizing: border-box;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
}


/* Start of header styling*/

header {
  border: 1px solid #c3c3c3;
  margin: 72px 72px;
  display: grid;
  grid-gap: 0em 1.5em;
  grid-template-columns: repeat(12, 1fr);
}

.logo {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

<<<<<<< HEAD



/* text-sizes from gridlover */
=======
nav {
  margin: 24px;
  grid-column: 5 / -5;
}

nav .menu {
  border-bottom: 1px solid #c3c3c3;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #333333;
  font-size: 0.75em;
  font-family: 'work sans', sans-serif;
}

.hero-one {
  border: 1px solid #c3c3c3;
  grid-column: 1 / -2;
  height: auto;
}

.hero-two {
  border: 1px solid #c3c3c3;
  grid-column: 1 / 4;
}

.hero-two p {
  margin-top: 4px;
}

.hero-three {
  border: 1px solid #c3c3c3;
  grid-column: 4 / -1;
  margin-top: -16px;
}

/* End of header styling */



/* Start of Main Styling */

main {
  border: 1px solid red;
  margin: 0px 72px;
}

.section-work h1 {
  text-align: center;
}

.page-separator {
  margin: auto;
  width: 5em;
  height: 3px;
  background-color: #DA9218;
}

article {
  border: 1px solid black;
  margin: 4em 0em;
  display: grid;
  grid-gap: 0em 1.5em;
  grid-template-columns: repeat(12, 1fr);
}

.work-description {
  border: 1px solid red;
  grid-column: 1 / 4;
}

.work-NimbusDashCover {
  border: 1px solid red;
  grid-column: 4 / -1;
  background: url(../assets/homepage/coverNimbusdash.jpg) no-repeat center;
  background-size: cover;
}

.imagetest {
  grid-column: 1 / -1;
}

/* End of Main Styling*/




/* Typography sizes from gridlover */
>>>>>>> 02Responsive

h1 {
  font-family: 'work sans', sans-serif;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
}

h2 {
  font-family: 'work sans', sans-serif;
  font-size: 2.8125em;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
}

h3 {
  font-family: 'spectral', serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h4 {
   font-family: 'spectral', serif;
  font-size: 1.4375em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}


h5 {
  font-family: 'work sans', sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}

p {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

p span {
  font-family: 'work sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
  font-weight: bold;
  font-stretch: expanded;
}





footer {
  background-color: #D7D7D7;
}














@media screen and (min-width: 320px) and (max-width: 574px) {}

@media screen and (min-width: 575px) and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 799px) {
  /*Difference in logo and hero text sizes*/
}

@media screen and (min-width: 800px) and (max-width: 990px) {}

@media screen and (min-width: 991px) {}
