*, *:before, *:after {
  box-sizing: border-box;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
}

.container {
  margin: auto;
  max-width: 1200px;
}

main {
  margin: 0em 4.5em;
}

/* Start of typography sizes */

h1 {
  font-family: 'work sans', sans-serif;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
  color: #333333;
}

h2 {
  font-family: 'work sans', sans-serif;
  font-size: 2.8125em;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
}

h3 {
  font-family: 'spectral', serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h4 {
   font-family: 'spectral', serif;
  font-size: 1.4375em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}


h5 {
  font-family: 'work sans', sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}

p {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

.work-name {
  font-family: 'work sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: -4em;
  font-weight: bold;
  font-stretch: expanded;
}

/* End of typography sizes */


/* Start of header styling*/

header {
  margin-top: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ralogo {
  background: url(../assets/homepage/ralogo48.svg) center / cover;
  height: 48px;
  width: 76px;
}

nav {
  margin: 1.5em;
  width: 240px;
}

nav .menu {
  border-bottom: 1px solid #E6E6E6;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  /* border: 1px solid red; */
  padding-bottom: 0.45em;
  text-decoration: none;
  color: #333333;
  font-size: 0.75em;
  font-family: 'work sans', sans-serif;
}

.menu a:hover {
  border-bottom: 1px solid #DA9218;
  margin-bottom: 1em;
}

.hero-image {
  /* border: 1px solid #c3c3c3; */
  margin: 4.5em 0em;
  display: grid;
  grid-gap: 0em 1.5em;
  grid-template-columns: repeat(12, 1fr);
}

.hero-one {
  grid-column: 1 / -2;
  height: auto;
}

.hero-two {
  grid-column: 1 / 4;
}

.hero-two p {
  margin-top: 0.25em;
}

.hero-three {
  grid-column: 4 / -1;
  margin-top: -1em;
}

/* End of header styling */


/* Start of main styling */



.section-title {
  /* border: 1px solid #c3c3c3 */
  margin-top: 3em;
  text-align: center;
}

.page-separator {
  margin: auto;
  margin-bottom: 9em;
  width: 5em;
  height: 3px;
  background-color: #DA9218;
}

/* End of main styling */

/* Start of WORK Styling */

.worklink {
  display: inline-block;
  margin: 1.5em 0em;
  color: #333333;
  font-size: 1.1em;
  font-family: 'spectral', serif;
}

.worklink:hover {
  background-color: #DA9218;
}

.section-work {
  /* border: 1px solid grey; */
  margin-top: 9em;
}

.work-casestudy {
  /* border: 1px solid red; */
  margin-top: 4em;
  display: grid;
  grid-gap: 0em 1.5em;
  grid-template-columns: repeat(12, 1fr);
}

.work-name {
  margin-bottom: -3.75em;
  color: #333333;
}

.work-description {
  border-top: 1px solid #333333;
  grid-column: 1 / 5;
}

.casestudy-scope {
  font-family: 'work sans', sans-serif;
  color: #5A5A5A;
}

.work-NimbusDashCover {
  grid-column: 5 / -1;
  background: url(../assets/homepage/coverNimbusDash.jpg) no-repeat center;
  background-size: cover;
  background-position: 100% 100%;
  height: 50vw;
}

.work-NimbusLandingCover {
  grid-column: 5 / -1;
  background: url(../assets/homepage/coverNimbusLanding.jpg) no-repeat center;
  background-size: cover;
  background-position: 100% 100%;
  height: 50vw;
}




/* Start of Past Work Styling */

.worklink {
  display: inline-block;
  margin: 1.5em 0em;
  color: #333333;
  font-size: 1em;
  font-family: 'spectral', serif;
}

.section-pastwork {
  /* border: 1px solid #c3c3c3; */
  margin-top: 4em;
  margin-bottom: 9em;
  display: grid;
  grid-gap: 0em 1.5em;
  grid-template-columns: repeat(12, 1fr);
}

.pastwork-heading {
  height: 1.5em;
}

.pastwork-architecture {
  /* border: 1px solid #c3c3c3; */
  grid-column: 1 / 5;
}

.pastwork-ArchDescription {
  border-top: 1px solid #333333;
  height: 45vh;
}

.pastwork-ArchCover {
  background: url(../assets/homepage/pastworkArchitecture.jpg) center / cover;
  height: 20vw;
}

.pastwork-furniture {
  /* border: 1px solid #c3c3c3; */
  grid-column: 5 / 9;
}

.pastwork-FurnitureDescription {
  border-top: 1px solid #333333;
  height: 45vh;
}

.pastwork-FurnitureCover {
  background: url(../assets/homepage/pastworkFurniture.jpg) center / cover;
  height: 20vw;
}

.pastwork-graphics {
  /* border: 1px solid #c3c3c3; */
  grid-column: 9 / -1;
}

.pastwork-GraphicsDescription {
  border-top: 1px solid #333333;
  height: 45vh;
}

.pastwork-GraphicsCover {
  background: url(../assets/homepage/pastworkGraphics.jpg) center / cover;
  height: 20vw;
}


/* End of Past Work Styling */

/* Start of Footer Styling */

footer {
  background-color: #d7d7d7;
  margin: auto;
  color: #333333;
}


.footer-container {
  padding: 2em 4.5em;
  max-width: 1200px;
  display: grid;
  grid-gap: 0em 1.5em;
  grid-template-columns: repeat(12, 1fr)
}


footer li {
  display: inline-block;
  margin-right: 1em;
  margin-top: 0.5em;
  font-family: 'work sans', sans-serif;
  font-weight: lighter;
  font-size: 0.75em;
  color: #333333;
}

footer a {
  margin-top: 0.5em;
  color: #333333;
}

.footer-about {
  grid-column: 1 / 9;
}

.about-text {
  margin-top: 0.75em;
}


.footer-work {
  grid-column: 9 / -1;
}

/* .footer-contact {
  grid-column: 5 / 9;
} */

/* End of Footer Styling */


@media screen and (min-width: 768px) and (max-width: 900px) {

  .container {
  border: 1px solid blue;
  }

  .casestudy-scope {
    display: none;
  }
  main {
    margin: 0em 3em;
  }
  header {
    /* border: 1px solid red; */
    margin-top: 3em;
  }
  nav {
    margin-top: 1.5em;
  }
  .ralogo {
    background: url(../assets/homepage/ralogo36.svg) center / cover;
    height: 36px;
    width: 57px;
  }
  .hero-image {
    /* border: 1px solid #c3c3c3; */
    margin: 3em 0em;
  }
  .hero-one h3{
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .work-description h3{
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .hero-two p {
    font-size: 0.9em;
  }
  .hero-two {
    margin-top: 2em;
  }
  .hero-three {
    margin-top: 1em;
  }
  .section-title {
    font-family: 'work sans', sans-serif;
    font-size: 2.8125em;
    line-height: 1.06666667em;
    margin-top: 3em;
    margin-bottom: 1.06666666em;
  }
  .section-pastwork a{
    font-size: 1em;
  }
  .pastwork-architecture,
  .pastwork-furniture,
  .pastwork-graphics {
    grid-column: 1 / -1;
    margin-bottom: 72px;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr)
  }
  .pastwork-ArchDescription,
  .pastwork-FurnitureDescription,
  .pastwork-GraphicsDescription {
    grid-column: 1 / 7;
  }
  .pastwork-ArchCover,
  .pastwork-FurnitureCover,
  .pastwork-GraphicsCover {
    grid-column: 7 / -1;
    height: 30vw;
  }
  footer li {
    display: block;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {

  .container {
    border: 1px solid red;
  }
  .casestudy-scope {
    display: none;
  }
  main {
    margin: 0em 3em;
  }
  header {
    /* border: 1px solid red; */
    margin-top: 3em;
  }
  nav {
    margin-top: 1.5em;
  }
  .ralogo {
    background: url(../assets/homepage/ralogo36.svg) center / cover;
    height: 36px;
    width: 57px;
  }
  .hero-image {
    margin: 1em 0em;
  }
  .hero-one h3{
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .work-description h3{
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .hero-two p {
    font-size: 1em;
  }
  .hero-one {
    grid-column: 1 / -1;
  }
  .hero-two {
    margin-top: 2em;
    grid-column: 1 / 5;
    order: 1;
  }
  .hero-three {
    margin-top: 1em;
    grid-column: 1 / -1;
  }
  .section-title {
    font-family: 'work sans', sans-serif;
    font-size: 2.8125em;
    line-height: 1.06666667em;
    margin-top: 3em;
    margin-bottom: 1.06666666em;
  }

  /* adjusted case study to vertical orientation */

  .work-description {
    grid-column: 1 / -1;
  }
  .work-NimbusDashCover {
    grid-column: 1 / -1;
    background: url(../assets/homepage/coverNimbusDashCentered.jpg) no-repeat center;
    background-size: contain;
    height: 70vw;
  }
  .work-NimbusLandingCover {
    grid-column: 1 / -1;
    background: url(../assets/homepage/coverNimbusLandingCentered.jpg) no-repeat center;
    background-size: contain;
    height: 70vw;
  }

  /* adjusted case study to vertical orientation */

  .section-pastwork a{
    font-size: 1em;
  }
  .pastwork-title {
    display: none;
  }
  .pastwork-heading {
    margin-top: 0.5em;
  }
  .pastwork-architecture,
  .pastwork-furniture,
  .pastwork-graphics {
    grid-column: 1 / -1;
    margin-bottom: 2em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr)
  }
  .pastwork-ArchDescription,
  .pastwork-FurnitureDescription,
  .pastwork-GraphicsDescription {
    grid-column: 1 / 7;
  }
  .pastwork-ArchCover,
  .pastwork-FurnitureCover,
  .pastwork-GraphicsCover {
    grid-column: 7 / -1;
    height: 30vw;
  }
  footer li {
    display: block;
  }

}

@media screen and (min-width: 480px) and (max-width: 549px) {

  .container {
    border: 1px solid green;
  }

  .casestudy-scope {
    display: none;
  }
  main {
    margin: 0em 3em;
  }
  header {
    /* border: 1px solid red; */
    margin-top: 3em;
  }
  nav {me
    margin-top: 1.5em;
  }
  .ralogo {
    background: url(../assets/homepage/ralogo24.svg) center / cover;
    height: 24px;
    width: 38px;
  }
  .hero-image {
    margin: 1em 0em;
  }
  .hero-one h3{
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .hero-three h4 {
    font-family: 'spectral', serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
  }
  .work-description h3{
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .hero-two p {
    font-size: 1em;
  }
  .hero-one {
    grid-column: 1 / -1;
  }
  .hero-two {
    margin-top: 2em;
    grid-column: 1 / -1;
    order: 1;
  }
  .hero-three {
    margin-top: 1em;
    grid-column: 1 / -1;
  }
  .section-title {
    font-family: 'work sans', sans-serif;
    font-size: 2.8125em;
    line-height: 1.06666667em;
    margin-top: 3em;
    margin-bottom: 1.06666666em;
  }

  /* adjusted case study to vertical orientation */

  .work-description {
    grid-column: 1 / -1;
  }
  .work-NimbusDashCover {
    grid-column: 1 / -1;
    background: url(../assets/homepage/coverNimbusDashCentered.jpg) no-repeat center;
    background-size: contain;
    height: 70vw;
  }
  .work-NimbusLandingCover {
    grid-column: 1 / -1;
    background: url(../assets/homepage/coverNimbusLandingCentered.jpg) no-repeat center;
    background-size: contain;
    height: 70vw;
  }

  /* adjusted case study to vertical orientation */

  .section-pastwork a{
    font-size: 1em;
  }
  .pastwork-architecture,
  .pastwork-furniture,
  .pastwork-graphics {
    grid-column: 1 / -1;
    margin-bottom: 4.5em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr)
  }
  .pastwork-ArchDescription,
  .pastwork-FurnitureDescription,
  .pastwork-GraphicsDescription {
    /* border: 1px solid green; */
    grid-column: 1 / -1;
    height: 45vw;
  }
  .pastwork-ArchCover,
  .pastwork-FurnitureCover,
  .pastwork-GraphicsCover {
    grid-column: 1 / -1;
    height: 60vw;
  }
  footer li {
    display: block;
  }
}

@media screen and (min-width: 200px) and (max-width: 479px) {

  .container {
    border: 1px solid purple;
  }

  .casestudy-scope {
    display: none;
  }

  .section-work {   /* Controls spacing above first casestudy*/
    margin-top: 9em;
  }
  .page-separator {   /* Modified from 450-574px */
    margin-bottom: 6em;
  }
  main {
    margin: 0em 3em;
  }
  header {
    margin-top: 3em;
  }
  nav {   /* Modified from 450-574px */
    margin-top: 1.5em;
    width: 180px;
  }
  nav .menu {   /* Modified from 450-574px */
    line-height: 1.2em;
  }
  .menu a {   /* Modified from 450-574px */
    font-size: 0.6em;
  }
  .ralogo {
    background: url(../assets/homepage/ralogo24.svg) center / cover;
    height: 24px;
    width: 38px;
  }

  .hero-image {    /* Modified from 450-574px */
    margin: 0em 0em;
  }
  .hero-one h3{     /* Modified from 450-574px */
    font-family: 'spectral', serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
  }
  .hero-three h4 {
    font-family: 'spectral', serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
  }
  .work-description h3{
    font-family: 'spectral', serif;
    font-size: 1.4375em;
    line-height: 1.5em;
    margin-top: 1.04347826em;
    margin-bottom: 0em;
  }
  .hero-two p {
    font-size: 1em;
  }
  .hero-one {
    grid-column: 1 / -1;
    order: 1;
  }
  .hero-two {
    margin-top: 2em;
    grid-column: 1 / -1;
    order: 3;
  }
  .hero-three {
    margin-top: 1em;
    grid-column: 1 / -1;
    order: 2;
  }
  .section-title {
    font-family: 'work sans', sans-serif;
    font-size: 2.8125em;
    line-height: 1.06666667em;
    margin-top: 3em;
    margin-bottom: 1.06666666em;
  }

  /* adjusted case study to vertical orientation */

  .work-description {
    grid-column: 1 / -1;
  }
  .work-NimbusDashCover {
    grid-column: 1 / -1;
    background: url(../assets/homepage/coverNimbusDashCentered.jpg) no-repeat center;
    background-size: contain;
    height: 70vw;
  }
  .work-NimbusLandingCover {
    grid-column: 1 / -1;
    background: url(../assets/homepage/coverNimbusLandingCentered.jpg) no-repeat center;
    background-size: contain;
    height: 70vw;
  }

  /* adjusted case study to vertical orientation */

  .section-pastwork a{
    font-size: 1em;
  }
  .pastwork-architecture,
  .pastwork-furniture,
  .pastwork-graphics {
    grid-column: 1 / -1;
    margin-bottom: 4.5em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr)
  }
  .pastwork-ArchDescription,
  .pastwork-FurnitureDescription,
  .pastwork-GraphicsDescription {
    grid-column: 1 / -1;
    height: 40vh;
  }
  .pastwork-ArchCover,
  .pastwork-FurnitureCover,
  .pastwork-GraphicsCover {
    grid-column: 1 / -1;
    background-position: cover;
    height: 50vw;
  }
  footer li {
    display: block;
  }

}
