*, *:before, *:after {
  box-sizing: border-box;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
}

body, .article {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  max-width: 1056px;
  margin: auto;
  color: #333333;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 72px;
}

h1 {
  font-family: 'work sans', sans-serif;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
}

h2 {
  font-family: 'spectral', serif;
  font-size: 2.8125em;
  line-height: 1.06666667em;
  margin-top: 0.53333333em;
  margin-bottom: 1.06666666em;
}

h3 {
  font-family: 'spectral', serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h4 {
   font-family: 'spectral', serif;
  font-size: 1.4375em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}


h5 {
  font-family: 'work sans', sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 1.04347826em;
  margin-bottom: 0em;
}

p {
  font-family: 'spectral', serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}


ul li, a {
  display: inline;
  text-decoration: none;
  color: #333333;
  font-size: 1 em;
  font-family: 'work sans', sans-serif;
}


.page-separator {
  width: 5em;
  height: 3px;
  background-color: #DA9218;
}

.container {
  margin: 72px;
  display: grid;
  grid-gap: 0em 1.5em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75vh 200px 144px;
}

.casestudy-header {
  display: flex;
  flex-direction: column;
}

.casestudy-hero {
  grid-column: 1 / -1;
  background: url(../assets/heroNimbusdash.jpg) center / cover;
  height: 77vh;               /*viewport height*/
}

.casestudy-nav {
  grid-column: 1 / -1;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
}
